 <!-- SLIDER -->
<section id="slider" class="no-padding">
    <div id="slider-carousel" class="boxed-slider">
@foreach (var item in ViewBag.Slides)
{


        <div style="background-image:url('/uploads/@item.Photo');" class="owl-bg-img">
            <div class="text-middle">
                <div class="container-fullscreen">
                    <div class="text-right slider-content" style="display:block; height:100%">
                        <a style="display:block; width:100%; height:100%;"></a>
                        <a div class="container" href="@item.Url">&nbsp;</a>
                    </div>

                </div>
            </div>
        </div>
}
    </div>
</section>
<!-- END: SLIDER -->
<!-- SUMMER SALE -->
<section class="section-pattern p-t-60 p-b-30 text-center" style="background: url(/images/pattern/pattern22.png)">
</section>
<!-- END: SUMMER SALE -->
<!-- SHOP PRODUCTS -->
<section>
    <div class="container">
        <div class="heading m-b-40">
            <h4>Öne Çıkanlar</h4>
        </div>

        <!--Product list-->
        <div class="shop">
            <div class="row">
                @foreach (var product in ViewBag.FeaturedProducts)
                {
                    <div class="col-md-3">
                        <div class="product">
                            <div class="product-image">
                                <a href="#">
                                    <img alt="Shop product image!" src="~/uploads/@product.Photo" style="width:100px; height:100px;">
                                </a>
                                <a href="#">
                                    <img alt="Shop product image!" src="/images/shop/products/1.jpg"style="width:115px; height:130px;">
                                </a>
                                
                                <div class="product-overlay">
                                    <a href="/include/ajax/example-shop-product.html" data-lightbox-type="ajax">Hızlı Görünüm</a>
                                </div>
                            </div>

                            <div class="product-description">
                                <div class="product-category">@product.Category.Name</div>
                                <div class="product-title">
                                    <h3>@product.Name</h3>
                                </div>
                                <div class="product-price">
                                    <ins>@product.Price</ins>
                                </div>

                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</section>
<!-- END: SHOP PRODUCTS -->
<!-- DELIVERY INFO -->
<section class="background-grey p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-gift"></i></a>
                    </div>
                    <h3>$60 üstü siparişlerde kargo ücretsiz</h3>
                    <p> 60 $ 'dan fazla sipariş verin ve dünya çapında ücretsiz gönderiyorsunuz. Daha fazla bilgi.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plane"></i></a>
                    </div>                  
                    <h3>   Dünya çapında Teslima</h3>
                    <p>
                        Aşağıdaki ülkelere teslimat yapıyoruz: ABD, Kanada, Avrupa, Avustralya
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-history"></i></a>
                    </div>
                    <h3>60 gün para iade garantisi!!
                    </h3>
                    <p>Ürünümüzden memnun kalmazsanız paranız iade edilir</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: DELIVERY INFO -->
<!-- SHOP WIDGET PRODUTCS -->
<section>
    <div class="container">
        <div class="row">
       
        </div>
    </div>
</section>
<!-- END: SHOP WIDGET PRODUTCS -->
<!-- END: SHOP CATEGORIES -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hr-title hr-long center"><abbr>Kategoriler </abbr> </div>

            </div>
        </div>

        <div class="shop-category">
            <div class="row">
                @foreach (var category in ViewBag.BrowserOurCategories)
                {

                    <div class="col-md-3">
                        <div class="shop-category-box">
                            <a href="@Url.Action("Index","Products",new { categoryId=category.Id})">
                                <img alt="" src="~/uploads/@category.Photo" style="width:100px; height:100px;">
                                <div class="product-description">                                
                                    <div class="shop-category-box-title text-center">
                                     <h6>@category.Name</h6><small>@category.PublishedProducts.Count  Ürün</small>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- END: SHOP CATEGORIES -->