
@model IList<Customer>
@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" class="btn  btn-primary">Yeni Müsteri</a>
<table class="table table-striped table-hover">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Üyelik Tarihi</th>
        <th>Eylemler</th>
    </tr>
    @foreach (var musteri in Model)
    {
    <tr>
        <td>@musteri.Id</td>
        
        <td><a asp-action="Details" asp-route-id="@musteri.Id">@musteri.Ad</a></td>
        <td>@musteri.Soyad</td>
        
        <td>@string.Format("{0:dd MMM yyyy}", musteri.UyelikTarihi)</td>

        <td>
            <a asp-action="Edit" asp-route-id="@musteri.Id"
               class="btn btn-success">Düzenle</a>
            <a asp-action="Delete" asp-route-id="@musteri.Id"
               onclick="return confirm('Bu kaydı silmek istediğinize emin misin?')"
               class="btn btn-danger">Sil</a>
        </td>

    </tr>
    }
</table>

